<h1>Hello, Winos!</h1>

<%= image_tag 'bolt.png', height: "120" %>

<br></br>

<img src="<%= current_user.picture_url %>"
onmouseover="this.setAttribute('src', '<%= Giphy.random(current_user.first_name).image_url %>')"
onmouseout="this.setAttribute('src', '<%= current_user.picture_url %>')"
width=150
/>

<h2>
	<%= @user.full_name %>
</h2>
