<div class="content">
  <h1> Hello! </h1>
  <h2>Here's more about me</h2>


  <h2>
  <%= @user.full_name  %>
  </h2>

  <h1> About Me: </h1>
  <h3> <%= @user.about_me %> </h3>

  <h1> Favorite Movie: </h1>
  <h3> <%= @user.favorite_movie %> </h3>

  <h1> Favorite Wine: </h1>
    
  <h3> <%= @user.favorite_wine %></h3>



<% @posts.each do |post| %> 
  <p><%= post.title %></p>
  <p><%= post.show_post_safe_html %></p>

<% end %>
<%= link_to "Edit your profile", edit_about_path %>
</div>
